:root {
    --var-turquoise: #1abc9c;
    --var-green-sea: #16a085;
    --var-emerald: #2ecc71;
    --var-nephritis: #27ae60;
    --var-peter-river: #3498db;
    --var-belize-hole: #2980b9;
    --var-amethyst: #9b59b6;
    --var-wisteria: #8e44ad;
    --var-wet-asphalt: #34495e;
    --var-midnight-blue: #2c3e50;
    --var-sun-flower: #f1c40f;
    --var-orange: #f39c12;
    --var-carrot: #e67e22;
    --var-pumpkin: #d35400;
    --var-alizarin: #e74c3c;
    --var-pomegranate: #c0392b;
    --var-clouds: #ecf0f1;
    --var-silver: #bdc3c7;
    --var-concrete: #95a5a6;
    --var-asbestos: #7f8c8d;
}

/* Usage Example */
body {
    background-color: var(--var-midnight-blue);
}

